<mat-tab-group mat-stretch-tabs class="seleciona">
    <mat-tab label="Template Drive Forms">
        <app-form-template 
            (eventoSubmitDrive)="confereSenhaDrive($event)"
            (eventoFormSubmitDrive)="enviaFormDrive()"
            ></app-form-template>
    </mat-tab>

    <mat-tab label="Reactive Forms">
        <app-form-reactive
            (eventoFormSubmitReactive)="enviaFormReactive()"
            (eventoSubmitReactive)="confereSenhaReactive($event)"
            ></app-form-reactive>
    </mat-tab>
</mat-tab-group>

